[Unit]
Description=Forgejo PostgresSQL Container
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service


[Container]
ContainerName=forgejo-pg
Image=docker.io/library/postgres:17.4-alpine3.21
Pod=forgejo.pod

AddCapability=SYS_NICE
User=1000:1000

Volume=forgejo-db-data:/var/lib/postgresql/data

Secret=POSTGRES_USER,type=env,target=POSTGRES_USER
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Secret=POSTGRES_DB,type=env,target=POSTGRES_DB


[Service]
# Restart=always


[Install]
WantedBy=multi-user.target default.target
RequiredBy=forgejo.service

